<html ng-app="App">
    <head>
        <title>Simple Chat Client</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body class="container-fluid">
        <main ng-controller="AppController">
            <div class="media" ng-repeat="message in messages">
                <div class="media-body">
                    <h4 class="media-heading">{{message.sender.name}}</h4>
                    {{message.message}}
                </div>
            </div>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid">
                    <span class="navbar-brand">{{user.name}}</span>
                    <form class="navbar-form navbar-left" ng-submit="send()">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="text" />
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </form>
                </div>
            </nav>
        </main>

        <!-- Scripts -->

        <!-- Libraries -->
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node_modules/lodash/index.js"></script>
        <script src="/node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
        <script src="/node_modules/angular/angular.min.js"></script>

        <!-- App -->
        <script src="/client/App.js"></script>

        <!-- Services -->
        <script src="/client/services/SocketService.js"></script>

        <!-- Controllers -->
        <script src="/client/controllers/AppController.js"></script>
    </body>
</html>